<%= render "layouts/error_messages" %>
<%= form_with model: @post, local: true do |form| %>
  <div>
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
  </div>
  <div>
    <p><%= form.label :content %></p>
    <p><%= form.text_area :content, size: "100px" %></p>
  </div>
  <div>
    <%= form.submit button_value %>
  </div>
<% end %>