<h1>Hello World!!!</h1>
<h1>投稿一覧</h1>
<div class="container-fluid">
    <div class="row">
      <% @posts.each.with_index(1) do |post, i| %>
        <div class="col-md-4">
          <div class="card border-dark" >
              <div class="card-header">
                  <%= l post.created_at, format: :date %>
              </div>
              <div class="card-body text-dark">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text"><%= post.content %></p>
              
              <%= link_to "詳細", post %>
              <%= link_to "編集", edit_post_path(post) %>
              <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>
